* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
h2
{
    font-size: 40px;
}
.intro {
    width: 100%;
    min-height: 610px;
    text-align: center;
    background-color: #de2b24;
    padding-top: 104px;   
    padding-bottom: 128px;
}
.info_intro {
    color: white;
    position: relative;
    margin-bottom: 47px;
}
.info_intro::after {
    content: "";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 47px;
    height: 5px;
    background-color: white;
}
.intro_table {
    max-width: 1030px;
}
.container_intro_table {
    background-color: #f35e59;
    display: inline-block;
    vertical-align: middle;
    width: 257px;
    height: 253px;
    margin-left: -.36em;
    position: relative;
    transition: opacity 0.1s linear, transform 124ms linear;
    color: white;
    font-weight: 700;
    font-size: 16px;
}
.container_image_intro_table {
    background-color: #f35e59;
    display: inline-block;
    vertical-align: middle;
    width: 257px;
    height: 253px;
    margin-left: -.36em;
    position: relative;
    transition: transform 124ms linear;
}
.box_intro_table { 
    position: absolute;
    padding-left: 50px;               
    top: 50%;                        
    transform: translate(0, -50%) 
}
.project_name_table {
    font-size: 26px;
}
.image_intro_table{  
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image_camera {
    object-position: 90% 10%;
}
.container_image_intro_table:hover {
    opacity: 0.9;
    transform: scale(0.95);
}
.container_intro_table:hover {
    background-color: rgba(0, 0, 0, 0%);
    transform: scale(1.2);

}
.blue_section {
    min-height: 850px;
    width: 100%;
    background-color: #1287bf;
    text-align: center;
    padding-top: 104px;   
}
.info_blue_section {
    color: white;
    margin-bottom: 47px;
}
.info_blue_section p
{
    font-size: 20px;
    font-weight: 300;
}
.circle {
    width: 60px;
    height: 60px;
    border: white solid 3px;
    border-radius: 50%;
    margin-top: 15px;
}
.arrow { 
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 35%;
}

.form_box {
    max-width: 683px;
    min-height: 450px;
    background-color: white;
    border-radius: 5px;
    position: relative;
}
.text_form_box {
    color: #828282;
    padding-top: 50px;
    margin-bottom: 35px;
}
.form_box form {
    max-width: 450px;
}
.triangle {
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid white;
}
.close_circle {
    position: absolute;
    z-index: 999;
    max-width: 50px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    background-color: #de2b24;
    border: white solid 2px;
    border-radius: 50%;
    color: #fff;
    right: -25px;
    top: -25px;
}
.close_circle::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "X";
    font-size: 25px;
    font-weight: 400;
    line-height: 47px;
    text-align: center;
}
.close_circle:hover {
    cursor: pointer;
    background-color: white;
    border-color: #de2b24;
    color: #de2b24;
}
.form_box input
{
    display: list-item;
}
.input_field {
    margin-top: 8px;
    width: 100%;
    height: 50px;
    border: #d8d8d8 solid 1px;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 14px;
    color: #828282;
}
.input_field::placeholder {
    color: #828282;
}
.input_field:focus {
    box-shadow: 0 0 1px 1px #b5d9eb;
    border-color: #1287bf;
    outline: none;
}
.submit_button {
    font-weight: 600;
    color: white;
    margin-top: 36px;
    max-width: 161px;
    width: 100%;
    height: 46px;
    border: none;
    background-color: #de2b24;
    border-radius: 5px;
    margin-bottom: 68px;  
}
.submit_button:hover {
    color: #de2b24;
    background-color: white;
    border: #de2b24 solid 3px;
}
.footer { 
    padding-top: 90px;
    min-height: 480px;
    width: 100%;
    background-color: #2a2a2a;
    text-align: center;
    color: white;
}
.social_block h3 {
 font-size: 24px;
 font-weight: 900;
 margin-bottom: 28px;
}
.social_icon {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border: solid #515151 2px;
    border-radius: 3px;
}
.first_social_icon {
    margin: 0 auto;
}
.social_icon:hover {
    border-color: #de2b24;
}
.social_icon img {
    padding-top: 30%;
}
.footer p {
    margin-top: 35px;
    font-weight: 300;
    font-size: 16px;
    color: #b8b8b8;
}
.subscribe_form 
{
    max-width: 683px;
}
.subscribe_form form {
    min-height: 135px;
}
.subscribe_form input {
    display: list-item;
}
.subscribe_input {
    border: none;
    background-color: #515151;
    border-radius: 2px;
    margin-top: 34px;
    height: 55px;
    width: 100%;
    
    padding-left: 21px;
    color: white;
}
.subscribe_input::placeholder {
    
    color: #bebebe;
}
.subscribe_input:focus {
    box-shadow: 0 0 1px 1px #de2b24;
    outline: none;
}
.subscribe_submit {
    border: #515151 solid 2px;
    border-radius: 5px;
    color: white;
    background-color: #2a2a2a;
    margin-top: 27px;
    max-width: 149px;
    width: 100%;
    height: 49px;
    font-weight: 700;
}
.subscribe_submit:hover {
    border-color: #de2b24;
}

.footer_copyright {
    margin-top: 84px;
    text-align: center;
    height: 67px;
    background-color: #515151;
}

.footer_copyright p { 
    font-size: 14px;
    color: #bebebe;
    font-weight: 400;
    padding-top: 26px;
    vertical-align: middle;
}
